/* Define as propriedades do body */
body {
  background-color: #081820;
  color: #e0f8d0;
  font-family: "monocraft", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: 0;
}

/* Configura as imagem de trás do body */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("https://images.pexels.com/photos/6968875/pexels-photo-6968875.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%) brightness(80%);
  mix-blend-mode: luminosity;
  opacity: 0.9;
}

/* Cria um Class "conteiner" */
.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* DEFINE FOTO DE PERFIL */
.profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #e0f8d0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.363);
  transition: 0.3s;
}
/* CUIDA DAS ANIMAÇÕES FOTO DE PERFIL */
.profile_pic:hover {
  transform: scale(1.05);
  border: 15px solid #346856;
}

/* Define as propriedades do H1*/
h1 {
  font-size: 40px;
  margin-bottom: auto;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.363);
}

/* Define as propriedades do h1r*/
hr {
  color: #e0f8d0;
  width: 100%;
  border: 0px;
  border-top: 4px solid;
  border-radius: 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.363);
}

/* Define as propriedades do p*/
p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.363);
}

/* Define as propriedades do H1*/
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/*BOTÕES*/
.links-button {
  display: flex;
  align-items: center; /* alinhamento vertical */
  justify-content: center; /* alinhamento horizontal */
  gap: 10px; /* cria um espaço entre itens flex */
  background-color: #e0f8d0;
  border-color: #346856;
  color: #346856;
  padding: 10px 40px; /* adiciona preenchimento interno */
  width: 100%; /* faz o botão usar tamanho máximo do container*/
  max-width: 300px; /* define tamanho max, mesmo container sendo maior */
  margin: 5px 0; /* adiciona margem entre botões */
  border-radius: 15px; /* deixa as bordas redondas */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.363); /* sombras em objetos*/
  transition: 0.3s; /* animação dos itens */
  cursor: pointer; /* cursor vira mãozinha*/
  text-decoration: none;
  font-size: 20px;
  font-family: "Monocraft";
}
/*CUIDA DAS ANIMAÇÕES DOS BOTÕES*/
.links-button:hover {
  transform: scale(1.05);
  background-color: #346856;
  color: #e0f8d0;
}
/*CUIDA DO TAMANHO DOS ICONES*/
.icon {
  width: 25px;
  height: 25px;
}
/*PERMITE USO DE FONTES EXTERNAS*/
@font-face {
  font-family: Monocraft;
  src: url(fonts/Monocraft.otf);
}
